.dragdrop {
  border: 2px dotted #49d893;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 100%;
}
.dragdrop h4 {
  margin: 0;
  padding: 8px 0;

  color: #49d893;
  background-color: #49d89305;
}
.orders {
  margin-top: 40px;
  padding: 0 20px;
  height: 720px;
}
.checkoutBtn {
  width: 100%;
  border: transparent;
  background-color: #49d893;
  padding: 8px 0;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  position: relative;
  bottom: 0;
  left: 0;
}
.orderList {
  height: 360px;
  overflow-y: auto;
  margin: 30px 0;
}
@media screen and (max-width: 1600px) {
  .orders {
    margin-top: 30px;
    padding: 0px;
  }
}

@media screen and (max-width: 1400px) {
  .orderList {
    height: 300px;
    margin: 20px 0;
  }
  .orders {
    height: 658px;
  }
}
@media screen and (max-width: 1200px) {
  .orderList {
    margin: 0 60px;
  }
  .orders {
    padding: 0 40px;
  }
}

@media screen and (max-width: 700px) {
  .orderList {
    margin: 0px;
  }
  .orders {
    padding: 0 40px;
  }
}

@media screen and (max-width: 500px) {
  .dragdrop {
    border: 2px dotted #49d893;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .dragdrop h4 {
    padding: 4px 0;
    font-size: 16px;
  }
  .orders {
    padding: 0px;
  }
}
