.card {
  width: 250px;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.card::after {
  content: 'add to cart';
  width: 50%;
  height: 30px;
  border-radius: 10px 0 0 10px;
  background-color: #49d893;
  position: absolute;
  color: white;
  font-weight: bold;
  bottom: 0;
  right: 0;
  z-index: 8;
  transform: translateX(130px);
  transition: 0.3s;
}
.card:hover::after {
  transform: translateX(0);
}
.card:hover img {
  transform: scale(1.2);
}
img {
  transition: 1s all;
}
.price {
  margin: 0;
  text-align: left;
  font-weight: bold;
  padding: 0;
}
.weight {
  background-color: white;
  padding: 0 5px;
  border-radius: 6px;
  font-size: small;
}
