.card {
  width: 250px;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}
.card:hover {
}
.card:hover img {
  transform: scale(1.2);
}
img {
  transition: 1s all;
}
.price {
  margin: 0;
  text-align: left;
  font-weight: bold;
  padding: 0;
}
.weight {
  background-color: white;
  padding: 0 5px;
  border-radius: 6px;
  font-size: small;
}
