.proceedBtn {
  width: 20%;
  margin: 20px 0;
  border: transparent;
  background-color: #49d893;
  padding: 8px 0;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}
.checkoutOrders {
  overflow-y: auto;
  height: 450px;
  margin: 14px 0;
  margin-left: 80px;
}
.checkoutImg {
  width: 70%;
  margin-left: 60px;
}

@media screen and (max-width: 500px) {
  .proceedBtn {
    width: 50%;
  }
  .checkoutOrders {
    margin-left: 0px;
  }
  .checkoutImg {
    width: 70%;
    margin-left: 0px;
  }
}
